/************************************************ Reset **************************************************/

*{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    font-family: Cambria, Arial, Helvetica, sans-serif , Courier;

}
/************************************************ Smartphone **************************************************/
                                        /********** Header **********/

/********** SidebarMenu **********/      

#sidebarMenu {
    height: 100vh;
    position: absolute;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    z-index: 30;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.sidebarIconToggle {
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.diagonal.part-1, .horizontal, .diagonal.part-2 {
    transition: all 0.3s;
    position: relative;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/********** Green column **********/
#leftcolumn{
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    width: auto;
    height: 1050px;
    background-color:#C0D472;
    z-index: 99;
    padding-top: 100px;
}

#leftcolumn h4{
    font-size: 20px;
    padding-top: 5%;;
    padding-bottom: 5%;
    text-align: center;
}
.info{
    text-align: right;
}

.dark-mode{
    background-color: rgb(80, 80, 80);
}

  .dark-mode main, .dark-mode .tete{
    color: white;
  }

  .dark-mode .title, .dark-mode .categorie{
    border-color: white;
  }

#facebook, #linkedin, #discord, #gmail, #phone{
    position: absolute;
    width: 15px;
}

#facebook, #linkedin{
    left: 60px;
}

#facebook{
    top: 553px;
}

#linkedin{
    top: 572px;
}

#discord{
    top: 592px;
    left: 35px;
}

#gmail{
    top: 665px;
    left: 4px;
}

#phone{
    top: 685px;
    left: 50px;
}

.infocenter{
    text-align: center;
}

.info h6, #leftcolumn h4{
    font-weight: bold;
}

h6{
    font-size: 16px;
    padding-top: 4%;
}


h3, h4{
    padding-bottom: 0.2%;
    margin-top: 3%;
}

#photo{
    position: absolute;
    border : 2px black solid;
    left: 175px;
    width: 20%;
    top: 102px;
}

#deco{
    position: absolute;
    right: 0;
    width: 55%;
}

.tete{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 125px;
}

.title{
    border-bottom: 2px black solid;
    margin-right: 50px;
}

.pretext{
    font-style: italic;
    text-align: left;
}

.button{
    color: black;
    border: 1px solid black;
    border-radius: 200px;
    padding: 0.5em;
    margin: 3%;
}

#triangle-code{
    position: absolute;
    border-top : 140px solid grey;
    border-right : 300px solid transparent;
    z-index: 100;
}

/********** Body **********/

main{
    display: flex;
    flex-direction: row;
}

.block{
    padding-left: 5%;
}

.categorie{
    border-bottom: 2px black solid;
    padding-top: 5%;
    margin-bottom: 2%;
    width: 100%;
}

/********** Modal **********/

#modal{
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translate(-50%);
    width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #C0D472;
    padding-left: 1em;
    z-index: 20;
    display: none;
}

.fermer{
    text-align: right;
    margin-right: 1em;
}

#btn{
    position: relative;
    left: 22%;
    margin-top: 10px;
    color: black;
    background-color: #C0D472;
    border-radius: 10px;
    padding: 1em;
    width: 50%;
    z-index: 1;
}

#btn:hover{
    font-weight: bold;
}

/************************************************ Tablette **************************************************/
		
@media screen and (min-width:768px){

    #photo{
        left: 350px;
        width: 15%;
        top: 80px;
        z-index: 999;
    }

    #deco{
        position: absolute;
        right: 0px;
        width: 30%;
    }
}

/************************************************ PC **************************************************/
		
@media screen and (min-width:1024px){

    #sidebarMenu {
        transform: translateX(0px);
    }

    .spinner{
        display: none;
    }

    #leftcolumn{
        margin-top: 13%;
        height: 100%;
        border-left: 2px black solid;
    }
    
    .block{
        padding-left: 10%;
        margin-left: 50%;
        width: 100%;
        border-right: 2px black solid;
    }

    .tete{
        max-width: 800px;
        width: 62.4%;
        margin: auto;
        margin-left: 260px;
        padding-top: 50px;
        border-right: 2px black solid;
    }

    #btn{
        width: 70%;
    }

    .title{
        margin-right: 175px;
    }

    #photo{
        position: absolute;
        border-color: #C0D472;
        left: 615px;
        width: 6%;
        top: 0;
        z-index: 999;
    }

    #deco{
        position: absolute;
        right: 550px;
        width: 14%;
        border-right: 1px black solid;
    }

    #modal{
        left: 57%;
        top: 180px;
        width: 400px;
    }

    #btn{
        left: 50px
    }
    
    #facebook, #linkedin{
        left: 60px;
    }
    
    #facebook{
        top: 61.7%;}
    
    #linkedin{
        top: 63.8%;
    }
    
    #discord{
        top: 65.8%;
    }
    
    #gmail{
        top: 73.1%;
    }
    
    #phone{
        top: 75.3%;
    }

    #triangle-code{
        position: absolute;
        border-top : 140px solid grey;
        border-right : 400px solid transparent;
        z-index: 100;
        border-left: 2px black solid;
       }

    .info, h4{
        z-index: 1;
    }

    #leftcolumn h4{
        padding-bottom: 3%;
    }

    body{
        max-width: 800px;
        margin: auto;
    }
}